body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1d1d1d;
    background-color: white;
    /* background: rgb(238,199,20); */
/* background: linear-gradient(347deg, rgba(238,199,20,1) 0%, rgba(166,107,44,1) 52%, rgba(123,124,14,1) 82%, rgba(61,164,73,1) 100%); */
}
p , h2{
    position: relative;
    z-index: 1;
    margin: 20px 15px;
    text-align: center;
    line-height: 24px;
}
section{
    padding: 40px 0px;
}
.image{
    width: 80%;
    height: 480px;
    background: url(./images/2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px auto;
}
.text{
    position: relative;
}
.text::before{
    content: "";
    display: block;
    position: absolute;
    top: 47%;
    left:50%;
    rotate: -2deg;
    translate: -50% -50%;
    width: 99.5%;
    height: 125%;
    background: rgb(255, 255, 255);
}
   