ul {
    list-style-type: none;
    display: flex;
    justify-content:end;
    align-items:center ;
    position: relative;
    bottom: 70px;
}
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,149,112,1) 52%, rgba(170,125,46,1) 82%, rgba(52,157,179,1) 100%);
    width: 80vw;
    height: 250px;
    margin: 0px auto;
    padding: 15px;
    /* justify-content:space-between; */
}
a {
    color: rgb(15, 19, 73);
    text-decoration: none;
}
h1{
    color: greenyellow;
}
li{
    font-size: 2rem;
    margin: 15px;
}
/* nav {
     display: flex; 
     align-items: center; 
} */
li :hover{
    background-color: blanchedalmond;
    display: block;
    color: coral;
    border: 1px solid blue;
    border-radius: 10%;
    /* height: 60px; */
}
/* div{
    height: 150px;
} */
