*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 226, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form{
    width: 520px;
    height: 650px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.svg-icon{
    width: 35px;
    height: 35px;
    position: relative;
    top: 6px;
    right: 5px;
}
.logo-pic{
    background: url(./projects/images/Logo.png);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    margin: 40px auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.topic{
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 4px 6px #c4b8b8;
}
.fields{
    display: flex;
    flex-direction: column;
    margin: 35px 100px 10px 10px;
    align-items: center;
}
.fields input{
    border: none;
    height: 50px;
    background: none;
    /* padding: 20px 10px 5px 5px; */
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    outline: none;
}
.l1{
    margin-top: 45px;
}
 .l2{
    margin-top: 25px;
}
.sign{
   border: none; 
   width: 50%;
   height: 50px;
   background-color: rgb(92, 181, 216);
    border-radius: 25px;
    margin: 20px 5px 5px 100px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.sign:hover{
    background-color: rgb(117, 78, 189);
    transition: all 1s;
}
.forgot{
    font-size: 18px;
    position: relative;
    left: 95px;
    padding-top: 18px;
}
.forgot a{
    text-decoration: none;
    color: #c4b8b8;
}

