
header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,149,112,1) 52%, rgba(170,125,46,1) 82%, rgba(52,157,179,1) 100%);
    width: 97vw;
    height: 100px;
    margin: 15px 0px;
    padding: 12px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
a {
    color: rgb(64, 30, 109);
    text-decoration: none;
}
h2 {
    color : yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    right: 50px;
}
ul li :last-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
}
ul li {
    padding: 18px;
    align-items: center;
}
/* nav{
    display: flex;
} */
/* ul :hover{
    background-color: darkgray;
    color: blueviolet;
    display: inline-block;
} */
body{
    background-color: aliceblue;
}
.main{
    width: 100%;
    height: 350px;
    display: flex;
}
.side{
    width: 25%;
    height: 340px;
    margin-top: 12px;
}
main{
    width: 70%;
    height: 340px;
    margin: 12px;
}
main , .side{
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 15px;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cards{
    margin: 50px 24px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px , 1fr));
    gap: 20px;

}
.card{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.cards-style{
    border: 2px solid #2c884b;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 3px 2px 3px 2px #8e9b8e;
}
.ham{
    display: none;
}
@media  (max-width:768px){
    ul li{
        display: none;
    }
    .ham{
        display:block ;
        font-size: 2rem;
        color:yellow;
        padding : 15px 15px 0px 0px;
    }
}
@media (min-width:480px){
    main , aside {
        flex-direction: column-reverse;
        width: 100%
        ;
    }
}



